In [212]:
## Report

In [4]:
import pandas as pd

In [6]:
# Read csv files and store in Pandas Dataframe
school_data ="../Resources/schools_complete.csv"
student_data ="../Resources/students_complete.csv"
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

In [7]:
school_data_df.head(5)

   School ID            school_name         type  size   budget
0          0      Huang High School   Government  2917  1910635
1          1   Figueroa High School   Government  2949  1884411
2          2    Shelton High School  Independent  1761  1056600
3          3  Hernandez High School   Government  4635  3022020
4          4    Griffin High School  Independent  1468   917500

In [8]:
student_data_df.head(5)

,Student ID,student_name,gender,year,school_name,reading_score,maths_score
0,0,Paul Bradley,M,9,Huang High School,96,94
1,1,Victor Smith,M,12,Huang High School,90,43
2,2,Kevin Rodriguez,M,12,Huang High School,41,76
3,3,Richard Scott,M,12,Huang High School,89,86
4,4,Bonnie Ray,F,9,Huang High School,87,69

In [13]:
# Combine the data into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])

In [14]:
school_data_complete_df.head(5)

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

In [69]:
# School name
school_data_complete_df.groupby(["school_name"])

In [20]:
school_data_complete_df.columns

Index(['Student ID', 'student_name', 'gender', 'year', 'school_name',
       'reading_score', 'maths_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [68]:
# School type
school_data_complete_df.dtypes

Student ID        int64
student_name     object
gender           object
year              int64
school_name      object
reading_score     int64
maths_score       int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [23]:
total_students

39170

In [35]:
# Total School
total_schools = school_data_complete_df["school_name"].unique()

In [36]:
total_schools

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [37]:
# Total School
total_schools = school_data_complete_df["school_name"].nunique()

In [38]:
total_schools

15

In [26]:
# Total School Budget
total_school_budget = school_data_df["budget"].sum()

In [27]:
total_school_budget

24649428

In [30]:
# Average math score
average_math_score = student_data_df["maths_score"].mean()

In [31]:
average_math_score

70.33819249425581

In [33]:
# Average Reading score
average_reading_score = student_data_df["reading_score"].mean()

In [34]:
average_reading_score

69.98013786060761

In [40]:
# % Passing Maths
passing_maths_score_df = school_data_complete_df.loc[school_data_complete_df["maths_score"] >= 50]
percentage_passing_maths_score = len(passing_maths_score_df)/total_students * 100

In [41]:
percentage_passing_maths_score

86.07863160582077

In [42]:
# % Passing Reading
passing_reading_score_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 50]
percentage_passing_reading_score = len(passing_reading_score_df)/total_students * 100

In [43]:
percentage_passing_reading_score

84.42685728874139

In [51]:
# % Overall Passing Score
overall_passing_score_df = school_data_complete_df.loc[(school_data_complete_df["maths_score"] >= 50)\
                                                        & (school_data_complete_df["reading_score"] >= 50)]
percentage_overall_passing_score = len(overall_passing_score_df)/total_students * 100

In [52]:
percentage_overall_passing_score

72.80827163645647

In [82]:
# Create a LGA Data summary
LGA_summary_df = pd.DataFrame({"Total Schools":[total_schools],
                               "Total Students":[total_students],
                               "Total Budget":[total_school_budget],
                               "Average Maths Score": [average_math_score],
                               "Average Reading Score": [average_reading_score],
                               "% Passing Maths": [percentage_passing_maths_score],
                               "% Passing Reading": [percentage_passing_reading_score],
                               "% Overall Passing": [percentage_overall_passing_score]})

In [83]:
LGA_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

In [85]:
LGA_summary_df["Total Budget"] = LGA_summary_df["Total Budget"].map("${:,.2f}".format)

In [86]:
LGA_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [87]:
LGA_summary_df[["Total Schools",
                "Total Students",
                "Total Budget",
                "Average Maths Score",
                "Average Reading Score",
                "% Passing Maths",
                "% Passing Reading",
                "% Overall Passing"]]

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,"$24,649,428.00",70.338192,69.980138,86.078632,84.426857,72.808272

In [88]:
# School summary
# Group by School name
school_group_df = school_data_complete_df.groupby(["school_name"])

In [89]:
school_group_df

In [131]:
# School type
school_type = school_group_df["type"].first()

In [132]:
school_type

school_name
Bailey High School        Government
Cabrera High School      Independent
Figueroa High School      Government
Ford High School          Government
Griffin High School      Independent
Hernandez High School     Government
Holden High School       Independent
Huang High School         Government
Johnson High School       Government
Pena High School         Independent
Rodriguez High School     Government
Shelton High School      Independent
Thomas High School       Independent
Wilson High School       Independent
Wright High School       Independent
Name: type, dtype: object

In [133]:
# Total Students
total_students = school_group_df["student_name"].count()

In [134]:
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [96]:
# Total Students
total_students = school_group_df["Student ID"].count()

In [97]:
total_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [139]:
# Total School budget
total_budget = school_group_df["budget"].first()

In [140]:
total_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [141]:
# Budget per student
budget_per_student = total_budget/total_students

In [142]:
budget_per_student

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [143]:
# Average maths score
Average_maths_score = school_group_df["maths_score"].mean()

In [144]:
Average_maths_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [145]:
# Average reading score
Average_reading_score = school_group_df["reading_score"].mean()

In [146]:
Average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [147]:
# % passing math
passing_math = school_data_complete_df[school_data_complete_df["maths_score"] >= 50].groupby(["school_name"])\
                                                                                                      ["maths_score"].count()
percentage_passing_math = (passing_math/total_students) * 100

In [148]:
percentage_passing_math

school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

In [149]:
# % passing Reading
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 50].groupby(["school_name"])\
                                                                                                      ["reading_score"].count()
percentage_passing_reading = (passing_reading/total_students) * 100

In [150]:
percentage_passing_reading

school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

In [151]:
# % Overall passing
overall_passing = school_data_complete_df[(school_data_complete_df["maths_score"] >= 50)\
                                                        & (school_data_complete_df["reading_score"] >= 50)]\
                                                        .groupby(["school_name"])["Student ID"].count()
Percentage_overall_passing = (overall_passing/total_students) * 100

In [152]:
Percentage_overall_passing

school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [160]:
# Create school summary
school_summary_df = pd.DataFrame ({"School Type": school_type,
                                   "Total Students": total_students,
                                   "Total School Budget": total_budget,
                                   "Per Student Budget" : budget_per_student,
                                   "Average Maths Score": Average_maths_score,
                                   "Average Reading Score": Average_reading_score,
                                   "% Passing Maths": percentage_passing_math,
                                   "% Passing Reading": percentage_passing_reading,
                                   "% Overall Passing": Percentage_overall_passing })
# Changing the format
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("${:,.2f}".format)


school_summary_df[["School Type",
      "Total Students",
      "Total School Budget",
      "Per Student Budget",
      "Average Maths Score",
      "Average Reading Score",
      "% Passing Maths",
      "% Passing Reading",
      "% Overall Passing"]]

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [161]:
# Top Performing Schools (By % Overall Passing)
top_performing_schools_df = school_summary_df.sort_values("% Overall Passing", ascending = False)
top_performing_schools_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855

In [163]:
# Bottom Performing Schools (By % Overall Passing)
bottom_performing_schools_df = school_summary_df.sort_values("% Overall Passing")
bottom_performing_schools_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880

In [170]:
# Maths Scores by Year
average_ms_9th_df = school_data_complete_df[school_data_complete_df["year"]==9].groupby(["school_name"])\
                    ["maths_score"].mean()
average_ms_10th_df = school_data_complete_df[school_data_complete_df["year"]==10].groupby(["school_name"])\
                    ["maths_score"].mean()
average_ms_11th_df = school_data_complete_df[school_data_complete_df["year"]==11].groupby(["school_name"])\
                    ["maths_score"].mean()
average_ms_12th_df = school_data_complete_df[school_data_complete_df["year"]==12].groupby(["school_name"])\
                    ["maths_score"].mean()

In [171]:
average_ms_9th_df

school_name
Bailey High School       72.493827
Cabrera High School      72.321970
Figueroa High School     68.477804
Ford High School         69.021609
Griffin High School      72.789731
Hernandez High School    68.586831
Holden High School       70.543307
Huang High School        69.081754
Johnson High School      69.469286
Pena High School         71.996364
Rodriguez High School    71.940722
Shelton High School      72.932075
Thomas High School       69.234273
Wilson High School       69.212361
Wright High School       71.741176
Name: maths_score, dtype: float64

In [172]:
maths_score_by_year = pd.DataFrame ({"Year 9":average_ms_9th_df,
                                   "Year 10":average_ms_10th_df,
                                     "Year 11":average_ms_11th_df,
                                     "Year 12": average_ms_12th_df})

In [173]:
maths_score_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [174]:
# Reading Score by Year
average_reading_9th_df = school_data_complete_df[school_data_complete_df["year"]==9].groupby(["school_name"])\
                    ["reading_score"].mean()
average_reading_10th_df = school_data_complete_df[school_data_complete_df["year"]==10].groupby(["school_name"])\
                    ["reading_score"].mean()
average_reading_11th_df = school_data_complete_df[school_data_complete_df["year"]==11].groupby(["school_name"])\
                    ["reading_score"].mean()
average_reading_12th_df = school_data_complete_df[school_data_complete_df["year"]==12].groupby(["school_name"])\
                    ["reading_score"].mean()

In [175]:
average_reading_9th_df

school_name
Bailey High School       70.901920
Cabrera High School      71.172348
Figueroa High School     70.261682
Ford High School         69.615846
Griffin High School      72.026895
Hernandez High School    68.477569
Holden High School       71.598425
Huang High School        68.670616
Johnson High School      68.719286
Pena High School         70.949091
Rodriguez High School    70.902921
Shelton High School      70.715094
Thomas High School       69.672451
Wilson High School       68.683043
Wright High School       71.823529
Name: reading_score, dtype: float64

In [176]:
reading_score_by_year = pd.DataFrame ({"Year 9":average_reading_9th_df,
                                   "Year 10":average_reading_10th_df,
                                     "Year 11":average_reading_11th_df,
                                     "Year 12": average_reading_12th_df})

In [177]:
reading_score_by_year

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [192]:
# Scores by School Spending
spending_bins = [0, 585, 630, 645, 680]
List= ["<$585", "$585-630", "$630-645", "$645-680"]

scores_spending_df= school_summary_df.copy()
scores_spending_df.dtypes

School Type                object
Total Students              int64
Total School Budget        object
Per Student Budget         object
Average Maths Score       float64
Average Reading Score     float64
% Passing Maths           float64
% Passing Reading         float64
% Overall Passing         float64
School Size              category
dtype: object

In [210]:
scores_spending_df["Spending Ranges (Per Student)"] = pd.cut(scores_spending_df["Per Student Budget"], spending_bins, labels=List)
       
spending_summary_df = grouped_scores_spending.mean()
spending_summary_df[["Average Math Score", "Average Reading Score" 
, "% Passing Math", "% Passing Reading", "% Overall Passing"]].round(decimals=2)

TypeError: cut() missing 1 required positional argument: 'bins'

In [211]:
## Scores by School Size
size_bins = [0, 1000, 2000, 5000]
lists = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

school_summary_df["School Size"]=pd.cut(school_summary_df["Total Students"],size_bins, labels=lists)
grouped_school_summary_df=school_summary_df.groupby(["School Size"])
size_summary_df=grouped_school_summary_df.mean()
size_summary_df[["Average Math Score", "Average Reading Score" 
                     , "% Passing Math", "% Passing Reading", "% Overall Passing"]]

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_22708\1616061716.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_school_summary_df=school_summary_df.groupby(["School Size"])

TypeError: agg function failed [how->mean,dtype->object]

In [188]:
##Scores by School Type
grouped_school_summary_df=school_summary_df.groupby(["School Type"])
type_summary_df=grouped_school_summary_df.mean()
type_summary_df[["Average Math Score", "Average Reading Score" 
                     , "% Passing Math", "% Passing Reading", "% Overall Passing"]]

TypeError: agg function failed [how->mean,dtype->object]